<html>
    <head>
        <meta charset="UTF-8">
        <title> Documents </title>
    </head>
    <body>
        <h1> 글 목록</h1>
        <p> 이름 | 제목 | 작성 날짜 </p>
        <ul>
            {% for article in article_list %}
            <li> 
                <a href="/view_detail/{{ article.id }}">{{ article.title }}</a> | {{ article.name }} | {{ article.cdate|date:"Y년 M d일 D"}}
            </li>
            {% endfor %}
            <div class="list_button">
                <div class="list_index">
                    <a href='/'><button > 홈으로 </button></a>
                </div>
                <div class="list_reset">
                    <button> 글 삭제 </button>
                </div>
            </div>
        </ul>
    </body>
</html>