<html>
    <head>
        <meta charset="UTF-8">
        <title> Details </title>
        <style>
            .detail_reset{
                margin-top: 30px;
            }
        </style>
    </head>
    <body>
        <table>
            <tr>
                <td> no </td>
                <td> {{ article_detail.pk }}</td>
            </tr>
            <tr>
                <td> 제목 </td>
                <td> {{ article_detail.title }}</td>
            </tr>
            <tr>
                <td> 저자 </td>
                <td> {{ article_detail.name }}</td>
            </tr>
            <tr>
                <td> 내용 </td>
                <td> {{ article_detail.contents }}</td>
            </tr>
            <tr>
                <td> Email </td>
                <td> {{ article_detail.email }}</td>
            </tr>
        </table>
        <div class="detail_reset">
            <form method="post" action="{% url 'delete_article' article_detail.pk %}">
                {% csrf_token %}
                <button type="submit"> 글 삭제 </button>
            </form>
        </div>
    </body>
</html>