{% extends "base.html" %}
{% block title %}   
<title>최근 글 목록</title>
{% endblock title %}

{% block style %}   
<style>
    .index_header {
        text-align: center;
        margin: 30px 0px;
    }
    .index_button {
        margin-top: 30px;
        display: flex;
        justify-content: space-around;
    }
    .index_table_header{
        text-align: center;
    }
</style>
{% endblock style %}

{% block contents %}
<h1 class="index_header">최근 글 목록</h1>
<div class="row">
    <div class="col-6">  
        <table class="table table-success table-striped">
            <tr class="index_table_header">
                <th> no </th>
                <th> 제목 </th>
                <th> 이름 </th>
                <th> 작성 날짜 </th>
            </tr>
            {% for article in latest_article_list %}
            <tr>
                <th> {{ article.pk }} </th>
                <th> <a href="/view_detail/{{ article.id }}">{{ article.title }}</a> </th>
                <th> {{ article.name }} </th>
                <th> {{ article.cdate|date:"Y년 n월 j일 l" }} </th>
            </tr>
            {% endfor %}
        </table>

        <div class="index_button">
            <div class="index_write">
                <a href="/write"><button class="btn btn-primary btn-lg"> 글 작성 </button></a>
            </div>
            <div class="index_list">
                <a href="/list"><button class="btn btn-primary btn-lg">전체 글 목록</button></a>
            </div>
        </div>
    </div>

    <div class="col-6">
        2
    </div>
</div>
{% endblock contents %}

